ressources/ui/RECOVER_*.fla
ressources/ui/RECUPERE_*.fla
assets/leveleditor/RECUPERE_*.fla
assets/leveleditor/RECOVER_*.fla
ressources/stateobjects/colliders/RECUPERE_*.fla
ressources/stateobjects/colliders/RECOVER_*.fla
ressources/stateobjects/sprites/RECUPERE_*.fla
ressources/stateobjects/sprites/RECOVER_*.fla
bin/

